{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container mt-5">
    <h1 style="color: black;" class="d-flex justify-content-center">Get the skin you want to feel</h1>
    <div class="row">
        <div class="col-2">
            <p>Cetaphil is a gentle skincare brand that has been recommended and trusted by doctors and
                dermatologists for over 70 years,
                and is used by millions with sensitive skin around the world to improve the resilience of their
                skin.
            </p>
            <a href="{% url 'product' %}" class="btn">Explore Now &#8594;</a>
        </div>
        <div class="col-2">
            <img src="/static/img/Cetaphill.png">
    
        </div>
    </div>
</div>




<!------- featured categories -------->
<div class="container">
    <h1 class="d-flex justify-content-center" style="color: black;">What we Sell?</h1>
    <div class="row">   
        <div class="col-3">
            <img style="height: 300px;" src="/static/img/CeraVe.png">
        </div>
        <div class="col-3">
            <img style="height: 300px;" src="/static/img/Cetaphill.png">
        </div>
        <div class="col-3">
            <img style="height: 300px;" src="/static/img/Fix.jpg">
        </div>
    </div>
    
</div>

<!------- featured products -------->
<div class="container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        {% for p in products %}
        <div class="col-4">
            <img style="height: 250px; width: 250px;" src="{{ p.product_image.url }}">
            <h4>{{ p.name }}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>{{ p.price }}</p>
            <form action="{% url 'add-to-cart' p.id  %}" method="POST">
                {% csrf_token %}
                <center><button type="submit" style="background-color: coral;">Add to Cart</button></center>
            </form>
        </div>
        {% endfor %}

    </div>
</div>
<!---------Categoryyyy--------->
<section class="speciality" id="speciality">
    <div class="step-container">

        <h1 class="heading">How It <span>Works</span></h1>

        <section class="steps">

            <div class="box">
                <img src="/static/img/step-1.jpg" alt="">
                <h3>choose your favorite food</h3>
            </div>
            <div class="box">
                <img src="/static/img/step-2.jpg" alt="">
                <h3>free and fast delivery</h3>
            </div>
            <div class="box">
                <img src="/static/img/step-3.jpg" alt="">
                <h3>easy payments methods</h3>
            </div>

        </section>
    </div>
</section>



<!---------Offer-->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="/static/img/La-sheild.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Available on Soundarya_Official</p>
                <h1>LA Shield Lite Anti-Tanning Sunscreen Gel SPF 30 30g</h1>
                <small>La shield lite SPF 30 is an anti-tanning, oil-free sunscreen gel, lightweight,
                    and is a non-sticky formula that reduces pigmentation, inflammation, and blemishes
                    with SPF 30 and pa ++++.</small>

                <a href="{% url 'product' %}" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}