{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="row">
    <div class="col-2">
        <h1>Get the skin you want to feel</h1>
        <p>Cetaphil is a gentle skincare brand that has been recommended and trusted by doctors and
            dermatologists for over 70 years,
            and is used by millions with sensitive skin around the world to improve the resilience of their
            skin.
        </p>
        <a href="" class="btn">Explore Now &#8594;</a>
    </div>
    <div class="col-2">
        <img src="/static/img/Cetaphill.png">

    </div>
</div>
</div>
</div>



<!------- featured categories -------->

<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="/static/img/CeraVe.png">
            </div>
            <div class="col-3">
                <img src="/static/img/Cetaphill.png">
            </div>
            <div class="col-3">
                <img src="/static/img/Fix.jpg">
            </div>
        </div>
    </div>

</div>
<!------- featured products -------->
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="/static/img/UV.jpg">
            <h4>UV Doux Sunscreen</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Npr 1,350.00</p>
        </div>
        <div class="col-4">
            <img src="/static/img/Fix.jpg">
            <h4>FixDerma Moisturizing Lotion </h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Npr 328.00</p>
        </div>
        <div class="col-4">
            <img src="/static/img/Cetaphill.png">
            <h4>Cetaphill Moisturizing Lotion</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Npr 2,700.00</p>
        </div>
        <div class="col-4">
            <img src="/static/img/Kleida.jpg">
            <h4>Skin Lightening Moisturizer</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Npr 1,170.00</p>
        </div>
        <!-- <div class="col-4">
    <img src="/Static/img/Vitamin.jpg">
    <h4>The Ordinary Vitamin-C Serum</h4>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <p>Npr 2,100.00</p>
</div>
<div class="col-4">
    <img src="/Static/img/CeraVe.png">
    <h4>CeraVe Acne Control Cleanser</h4>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <p>Npr 3,000.00</p>
</div>
<div class="col-4">
    <img src="/Static/img/Retnoil.jpg">
    <h4>The Ordinary Vitamin-C Serum</h4>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
    </div>
    <p>Npr 1,850.00</p>
</div>
<div class="col-4">
    <img src="images/La-sheild.png">
    <h4>Anti-Tanning Sunscreen Gel</h4>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
    </div>
    <p>Npr 1,565.00</p>
</div> -->
    </div>
</div>
<!---------Categoryyyy--------->
<div class="step-container" style="background-color: #ffd6d6;">

    <h1 class="heading">How It <span>Works</span></h1>

    <section class="steps">

        <div class="box">
            <i class="fa fa-truck fa-2x"></i>
            <h3>choose your favorite food</h3>
        </div>
        <div class="box">
            <i class="fa fa-truck fa-2x"></i>
            <h3>free and fast delivery</h3>
        </div>
        <div class="box">
            <i class="fa fa-truck fa-2x"></i>
            <h3>easy payments methods</h3>
        </div>
        <div class="box">
            <i class="fa fa-truck fa-2x"></i>
            <h3>and finally, enjoy your food</h3>
        </div>
    
    </section>
  </div>

<!---------Offer-->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="/static/img/La-sheild.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Available on Soundarya_Official</p>
                <h1>LA Shield Lite Anti-Tanning Sunscreen Gel SPF 30 30g</h1>
                <small>La shield lite SPF 30 is an anti-tanning, oil-free sunscreen gel, lightweight,
                    and is a non-sticky formula that reduces pigmentation, inflammation, and blemishes
                    with SPF 30 and pa ++++.</small>

                <a href="" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>

<!-------Testimonials------>

<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Always great and a pleasure to do business with this company. Serum is excellent.
                    I have been using it for years.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <img src="/static/img/Subina.jpg">
                <h3>Subina Khadka</h3>
            </div>

            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>The face wash arrived quickly, was well-packaged, and seems to work wonders.
                    It doesn't leave my face feeling oily or stripped.
                    Some face washes leave a weird residue behind but not this one! </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <img src="/static/img/Tanuja.jpg">
                <h3>Tanuja Bastola</h3>
            </div>

            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Love the smell!! Fantastic products!
                    Great present for my other half who loved them also, will definitely be buying again
                    :-) love the little bag they come in with nice printed lining! Just fantastic! </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <img src="/static/img/Sneha.jpg">
                <h3>Sneha Dwariya</h3>
            </div>

        </div>
    </div>
</div>
{% endblock %}